version: "2.2"

networks:
  default:
    driver: bridge
  system_traefik:
    driver: bridge

services:
  traefik:
    image: traefik
    command:
      - "--web"
      - "--docker"
      - "--docker.domain=docker.localhost"
      - "--logLevel=DEBUG"
      #- "--entrypoints='Name:http Address::80 Redirect.EntryPoint:https'"
      - "--entrypoints='Name:https Address::443'"
      #- "--defaultentrypoints=http,https"
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev/null:/traefik.toml
    networks:
      - default
      - system_traefik
