version: "3.7"

networks:
  default:
    driver: bridge
  web:
    driver: bridge

services:
  traefik:
    networks:
      - traefik
    image: traefik:latest
    command:
      - "--web"
      - "--docker"
      - "--docker.domain=docker.localhost"
      #- "--logLevel=DEBUG"
      #- "--entrypoints='Name:http Address::80 Redirect.EntryPoint:https'"
      # - "--entrypoints='Name:https Address::443'"
      #- "--defaultentrypoints=http,https"
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev/null:/traefik.toml
    deploy:
      mode: global

networks:
  traefik:
    external:
      name: traefik
