[entryPoints]
  [entryPoints.http]
  address = ":80"

[entryPoints.traefik]
address = ":8080"


[api]

entryPoint = "traefik"
dashboard = true
debug = true


################################################################
# Docker configuration backend
################################################################

# Enable Docker configuration backend.
[docker]

endpoint = "unix:///var/run/docker.sock"
domain = "docker.localhost"
watch = true
exposedbydefault = false
usebindportip = true
swarmmode = true
